<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      
      <h2>Add Collaborator</h2>

        <form style="display:initial" action="collaborators/create" method="post">
          <div class="form-group">
            <label for="username">Collaborator Username</label>
            <input type="text" class="form-control" name="collaborator" aria-describedby="collaboratorHelp" placeholder="Enter Username">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

    </main>

  </body>
</html>
