<form style="width:50%" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
  <div class="form-group">
    <label for="body">New Collaborator</label>
    <textarea  class="form-control" name="username" aria-describedby="usernameHelp" placeholder="Enter username"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
