<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">An application designed for users to create, collaborate, and share wikis.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post, Create, Update, and Delete</h4>
            <p class="card-text">Gives you the option to create and post your own wikis, as well as update and delete others.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Get even more features with our paid plan!</h4>
            <p class="card-text">As a premium user, you can create private wikis and get even more extra features.</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.js %>
    </body>
</html>
