<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Upgrade your plan!</h1>

      <!---<form action="users/downgrade" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Q6mQ7lzSGN4e6eCFgXtAVhMR"
          data-amount="1500"
          data-name="Blocipedia Account Upgrade"
          data-description="Account Upgrade Charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>--->

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
