<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>DOWNGRADE YOUR PLAN</h1>

      <h2>If you no longer want to have premium access, opt out below by clicking the "Downgrade" button<h2>
      <form action="<%=currentUser.id%>/downgrade" method="POST">
        <button type="submit" class="btn btn-danger">Downgrade</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
