<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>UPGRADE YOUR PLAN!</h1>

      <h2>Premium access to Blocipedia allows you to create private wikis.<h2>
      <h3>Click "Pay with Card" below to upgrade:<h3>
      <form action="users/<%=currentUser.id%>/upgrade" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Q6mQ7lzSGN4e6eCFgXtAVhMR"
          data-amount="1500"
          data-name="Blocipedia Account Upgrade"
          data-description="Account Upgrade Charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
